
body {
  font-family: Georgia, serif;
  font-size: 20px;
  background-color: lightyellow;
  margin: 0;
}
h2 {
  text-decoration: underline;
}
figcaption {
  font-style: italic;
  font-size: 10px;
}
/*banner*/
.banner {
  color:white;
  background: url(../images/applebanner.jpg)
  no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 13em;
}

.banner h1 {
  font-family: Georgia, serif;
  padding: 0;
  margin: 0 auto;
  font-size: 5em;
  font-weight: bold;
  text-shadow: 4px 4px black;
}

.dates{
  font-family: Georgia, serif;
  padding: 0;
  /* margin-left: 70em; */
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

/* nav */
nav{
  margin-top: -1em;
  background-color: saddlebrown;
  font-weight: bold;
}
a:link {
  color: lightyellow;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 20px;
}

a:visited {
  color: lightyellow;
  text-decoration: underline;
  font-family: Georgia, serif;
  font-size: 20px;
}

a:hover {
  color: greenyellow;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 20px;
}

a:active {
  color: lightyellow;
  text-decoration: underline;
  font-family: Georgia, serif;
  font-size: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  /* flex: none;
  width: 15%; */
  text-align: center;

  flex-wrap: wrap;
  flex: 10%;
  /*try*/
  width: auto;

  }

nav ul li a {
  display: block;
  border: 1px solid;
  padding: .5em 1em;
  border-radius: .5em;
  margin: .25em;
}
/*content of index.html*/
.page-middle main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}

.dateside{
  flex: 2;
  border: 3px solid;
  border-color: saddlebrown;
  margin-right: 0em;
  margin-top: 0em;
  padding: 0.5em;
}


.welcome{
  flex: 5;
  border: 3px solid;
  border-color: saddlebrown;
  margin-right: .30em;
  margin-left: .30em;
  margin-top: 0em;
}
.welcome h2 {
  font-size: 3em;
}

.mapside{
  flex: 1;
  border: 3px solid;
  border-color: saddlebrown;
  margin-left: 0em;
  margin-top: 0em;
}

.mapside img {
  width: 350px;
  height: 350px;
}
/*food and crafts*/
.food-middle, .crafts-middle{
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.foodblurb, .craftsblurb{
  flex: 1;
  padding: 0em;
  border: 3px solid;
  border-color: saddlebrown;
  margin-left: 0em;
  margin-bottom: 0em;
}
.fooditem, .craftitem{
  flex: 1;
}

.fooditem img, .craftitem img{
  display: block;
  width: 500px;
  height: auto;
  text-align: center;
  padding: 0;
  margin: 0 auto;
}

.craftitem img{
  transform: rotate(90deg);
  margin-top: 4em;
  margin-bottom: 5em;

}

.fooditem figcaption {
  text-align:center;
}

/*transportation*/
.transpotop, .mapmiddle h2 {
  padding: 0em;
  border: 3px solid;
  border-color: saddlebrown;
  margin-left: 0em;
  margin-bottom: 0em;
}

.transpo-middle main{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  margin: 0.5em;
}

.transpo-left{
  flex: 2;
  border: 3px solid;
  border-color: saddlebrown;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
}


.trmapside{
  flex: 1;
  border: 3px solid;
  border-color: saddlebrown;
  margin-left: 0em;
  margin-top: 0em;
}

.transpo-middle img {
  width: 400px;
  height: auto;
}

/*links to googlemaps*/

.transpo-left a:link, .transpotop a:link {
  color: saddlebrown;
  font-family: Georgia, serif;
}

.transpo-left a:visited, .transpotop a:visited {
  color: darkgreen;
  text-decoration: underline;
  font-family: Georgia, serif;
}

.transpo-left a:hover, .transpotop a:hover {
  color: greenyellow;
  text-decoration: none;
  font-family: Georgia, serif;
  /* font-size: 20px; */
}

.transpo-left a:active, .transpotop a:active {
  color: saddlebrown;
  text-decoration: underline;
  font-family: Georgia, serif;
  /* font-size: 20px; */
}

/*SURVEY*/
.surveyblurb {
  margin-left: 10px;
    flex: 1;
    padding: 0em;
    border: 3px solid;
    border-color: saddlebrown;
    margin-left: 0em;
    margin-bottom: 0em;
}

.hidden {
  display: none !important;
}

#survey {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

/*spacing between survey controls*/
#survey div {
  margin-bottom: 10px;
}

/* Align labels */
#survey label {
  display: inline-block;
  width: 25%;
  text-align: right;
}

#survey input {
  padding: 1px;
  border: 1px lightgray solid;
  width: 146px;
}

/*From User1Test: fixing the weird blank line in multiple-select list*/
#daysAttended {
  height: 45px;
}
/*From User1Test: creating a free-response section*/
#addComm {
  width: 70%;
  height: 50px;
}

#survey button.submit {
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin-left: 440px; */
  margin-left: 30%;
  width: 80px;
  font-size: 20px;
  color: lightyellow;
  background-color: saddlebrown;

}

/*error-messages*/
#form-message{
  display: block;
  color: red;
  text-decoration: underline;
  font-size: 20px;
}

#form-success-message{
  display: block;
  color: blue;
  text-decoration: underline;
  font-size: 20px;
}
#day-message {
  display: inline;
  color:red;
  font-size: 17px;
}

#time-message {
  display: inline;
  color:red;
  font-size: 17px;
}

#food-message {
  display: inline;
  color:red;
  font-size: 17px;
}

#craft-message {
  display: inline;
  color:red;
  font-size: 17px;
}


/*footer*/
footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: lightyellow;
  background-color: saddlebrown;
  font-family: verdana, sans-serif;
  text-align: left;
  font-size: .8em;
  padding: 1em;
}
.returntotop{
  flex: 1;
}
.contact{
  flex: 2;
  font-size: .8em;
}
.content a{
  font-family: verdana, sans-serif;
  font-size: .8em;
}



@media screen and (max-width: 1159px){
  .banner h1{
    font-size: 3em;
  }
  .dates{
    font-size: 2em;
  }
  /* modify nav */

  nav ul li {
    flex-wrap: wrap;
    flex: 10%;
    /*try*/
    width: auto;

  }
  /*index.html*/
  .page-middle main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
  .welcome{
    margin-right: 0em;
    margin-top: 0em;
    margin-left: 0em;
  }
  .welcome img {
    width: 100%;
    height: auto;
  }
  .mapside img{
    width: 100%;
    height: auto;
  }
  /*map.html*/
  .mapmiddle img{
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width: 1085px){
  /*survey.html STYLE*/
  #survey p {
    display: block;
  }
  .survey-middle main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  #survey label {
    display: inline-block;
    width: auto;
    text-align: right;
  }
}

@media screen and (max-width: 600px) {
  /*modify banner*/
  .banner{
    height: 8em;
  }
  .banner h1, .dates{
    font-size: 2em;
    text-shadow: 2px 2px black;
  }
  .dates{
    font-size: 0.8em;
  }
  /* modify nav */

  nav ul li {
    flex-wrap: wrap;
    flex: 10%;
    /*try*/
    width: auto;
  }


  /*index.html*/
  .page-middle main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
  .welcome{
    margin-right: 0em;
    margin-top: 0em;
    margin-left: 0em;
  }
  .welcome img {
    width: 100%;
    height: auto;
  }
  .mapside img{
    width: 100%;
    height: auto;
  }

  /*food.html and crafts.html*/
  .food-middle, .crafts-middle{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .foodblurb, .craftsblurb{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .fooditem img, .craftitem img {
    width: 100%;
    height: auto;
  }

  /*transportation.html*/
  .transpo-middle main{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }
  .transpo-left{
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em;
  }
  .trmapside img {
    width: 100%;
    height: auto;
  }

  /*map.html*/
  .mapmiddle img{
    width: 100%;
    height: auto;
  }
  /*footer*/
  footer{
    flex-direction: column;
  }
  .returntotop{
    display: block;
  }
  .contact{
    display: block;
  }

}
